h1 {
  margin: 50px auto;
  text-align: center;
}
.search-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: green;
  color: goldenrod;
  padding: 50px 20px;
}
.search-area p {
  font-size: 32px;
  font-weight: bold;
}
.search-area button {
  padding: 10px;
}
.search-input {
  display: flex;
  gap: 50px;
}
.grid-container {
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

.grid-container .items {
  position: relative;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.items:hover {
  transition: all 0.3s;
  transform: scale(1.05);
}
.items img {
  border-radius: 20px;
  height: 300px;
  object-fit: fill;
}
.items p {
  margin: 10px 10px;
}
.items .heart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 32px;
  cursor: pointer;
}
