header {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  background-color: antiquewhite;
}
header nav {
  display: flex;
  gap: 10px;
}
header a {
  text-decoration: none;
  color: black;
}
